@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: left;
    }

    .intro .intro-text {
        right: 0;
        width: 60%;
        margin-top: 8rem;
        position: absolute;
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}

@media (min-width: 1200px) {
    .intro .intro-text {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .intro-2 .intro-img-2 {
        width: 75%;
        float: right;
    }

    .intro-2 .intro-text {
        width: 45%;
        margin-top: 8rem;
        position: absolute;
    }

    .intro-2 .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}

